.header {
  border-bottom: 1px solid #ececec;
}

.header__div,
.header__nav {
  display: flex;
  align-items: center;
}

.main--header {
  display: flex;
  flex-grow: 1;
  & > .header__list {
    @media screen and (max-width: 1199px) {
      display: block;
    }
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header__logo {
  margin-right: 93px;
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
    .header__span {
      color: var(--accent-text-color);
    }
}

.header__list {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header__items {
  &:not(:first-child) {
    margin-left: 50px;
  }
  .header__link {
    color: inherit;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
}

.header__div {
  display: flex;
  height: 60px;
  align-items: center;
  position: relative;
  @media screen and (min-width: 768px) {
    height: 80px;
  }
  
  .header__list {
    margin-left: auto;
  }
}

.header__contacts {
  &:not(:first-child) {
    margin-top: 10px;
    @media screen and (min-width: 1200px) {
      margin-left: 50px;
      margin-top: 0;
    }
  }
  .header__link {
    display: flex;
    color: var(--secondary-text-color);
    text-decoration: none;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}

.header__icon {
  fill: currentColor;
  margin-right: 10px;
}

.header__link {
  transition: color var(--time-animation) var(--time-distribution-function);
  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.current {
  color: var(--accent-text-color);
  @media screen and (min-width: 768px) {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      margin-bottom: -1px;
      border-radius: 2px;
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--accent-text-color);
    }
  }
}

.hidden {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu {
  @media screen and (min-widtn: 768px) {
    display: none;
  }
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 38px 30px;
  z-index: 99;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform var(--time-animation) var(--time-distribution-function);
  @media screen and (min-width: 420px) {
    padding: 48px 40px;
  }
}

.mobile-nav.is-open {
  transform: translateX(0);
}

.header__menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-flex;
  border: none;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: none;
  }
  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.header__svg-menu {
  fill: currentColor;
}

.header__items--mobile-menu {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.18;
  @media screen and (min-width: 420px) {
    font-size: 40px;
  }
  &:not(:first-child) {
    margin-top: 32px;
  }
}

.header__contacts--mobile-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  color: var(--secondary-text-color);
  @media screen and (min-width: 420px) {
    font-size: 24px;
  }
  &:first-child {
    font-size: 22px;
    line-height: 1.18;
    color: var(--accent-text-color);
    margin-bottom: 32px;
    @media screen and (min-width: 420px) {
      font-size: 34px;
    }
  }
}

.header__sublist {
  display: flex;
  margin-top: 64px;
  margin-left: -10px;
}

.header__subitems {
  padding: 0 10px;
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);;
  }
  .header__sublink {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--accent-text-color);
    @media screen and (min-width: 420px) {
      font-size: 18px;
    }
  }
}