:root {
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --intermediate-color: #2f303a;
    --accent-text-color: #2196f3;
    --button-color: #ffffff;
    --svg-color: #afb1b8;
    --footer-color: #ffffff;
    --overlay-background: rgba(33, 150, 243, 0.9);
    --time-animation: 250ms;
    --time-distribution-function: cubic-bezier(0.4, 0, 0.2, 1);
}